@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1> Dashboard </h1>

    <div class="row">

        <!-- Tien thu -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>
                        <i class="glyphicon glyphicon-usd"></i>
                        Tiền thu
                        <span class="label label-primary pull-right">
                            999999999
                            <a href="#" style="text-decoration: none; color: white">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </span>
                    </h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Bán hàng
                        <span class="pull-right">
                            999999999
                            <a href="#" style="text-decoration: none; color: black">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </span>
                    </li>

                    <li class="list-group-item">
                        Thu nợ
                        <span class="pull-right">
                            999999999
                            <a href="#" style="text-decoration: none;  color: black">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </span>
                    </li>

                    <li class="list-group-item">
                        Khách đặt cọc
                        <span class="pull-right">
                            999999999
                            <a href="#" style="text-decoration: none;  color: black">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <!-- end Tien thu -->
        <!-- order -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Order
                    </h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                Đã thanh toán
                            </div>
                            <div class="col-md-4 text-center">
                                50
                            </div>
                            <div class="col-md-4 text-right">
                                999999999
                                <a href="#" style="text-decoration: none; color: black">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </a>
                            </div>
                        </div>

                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                Đang phục vụ
                            </div>
                            <div class="col-md-4 text-center">
                                31
                            </div>
                            <div class="col-md-4 text-right">
                                999999999
                                <a href="#" style="text-decoration: none; color: black">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </a>
                            </div>
                        </div>

                    </li>

                    <li class="list-group-item">
                        <div class="row" style="color: red">
                            <div class="col-md-4">
                                Hủy
                            </div>
                            <div class="col-md-4 text-center">
                                0
                            </div>
                            <div class="col-md-4 text-right">
                                0
                                <a href="#" style="text-decoration: none; color: black">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>
        </div>
        <!-- end order -->

    </div>

    <div class="row">

        <!-- doanh thu  -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>
                        <i class="glyphicon glyphicon-signal"></i>
                        Doanh thu
                        <span class="label label-primary pull-right">
                            999999999
                        </span>
                    </h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Đã thanh toán
                        <span class="pull-right">
                            999999999
                            <a href="#" style="text-decoration: none; color: black">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </span>
                    </li>

                    <li class="list-group-item">
                        Đang phục vụ
                        <span class="pull-right">
                            999999999
                            <a href="#" style="text-decoration: none;  color: black">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <!-- end doanh thu -->
        <!-- khach hang -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>
                        <i class="glyphicon glyphicon-user"></i>
                        Khách hàng
                        <span class="label label-primary pull-right">
                            300
                            <a href="#" style="text-decoration: none; color: white">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </span>
                    </h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                Đã phục vụ
                            </div>
                            <div class="col-md-4 text-center">
                                50
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                Đang phục vụ
                            </div>
                            <div class="col-md-4 text-center">
                                50
                            </div>

                        </div>
                    </li>
                </ul>



            </div>
        </div>
        <!-- end khach hang -->
    </div>

</div>  
